/* File: angband.rc */
#pragma code_page(65001)
#include "win-menu.h"

ANGBAND MENU
{
	POPUP "&Archivo"
	{
		MENUITEM "&Nuevo\tCtrl+N", IDM_FILE_NEW
		MENUITEM "&Abrir...\tCtrl+O", IDM_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "&Guardar\tCtrl+S", IDM_FILE_SAVE
		MENUITEM SEPARATOR
		MENUITEM "S&alir\tCtrl+X", IDM_FILE_EXIT
	}

	POPUP "&Ventana"
	{
		POPUP "&Visibilidad"
		{
			MENUITEM "Ventana Term-0", IDM_WINDOW_VIS_0
			MENUITEM "Ventana Term-1", IDM_WINDOW_VIS_1
			MENUITEM "Ventana Term-2", IDM_WINDOW_VIS_2
			MENUITEM "Ventana Term-3", IDM_WINDOW_VIS_3
			MENUITEM "Ventana Term-4", IDM_WINDOW_VIS_4
			MENUITEM "Ventana Term-5", IDM_WINDOW_VIS_5
			MENUITEM "Ventana Term-6", IDM_WINDOW_VIS_6
			MENUITEM "Ventana Term-7", IDM_WINDOW_VIS_7
		}

		POPUP "&Fuente"
		{
			MENUITEM "Ventana Term-0", IDM_WINDOW_FONT_0
			MENUITEM "Ventana Term-1", IDM_WINDOW_FONT_1
			MENUITEM "Ventana Term-2", IDM_WINDOW_FONT_2
			MENUITEM "Ventana Term-3", IDM_WINDOW_FONT_3
			MENUITEM "Ventana Term-4", IDM_WINDOW_FONT_4
			MENUITEM "Ventana Term-5", IDM_WINDOW_FONT_5
			MENUITEM "Ventana Term-6", IDM_WINDOW_FONT_6
			MENUITEM "Ventana Term-7", IDM_WINDOW_FONT_7
		}

		MENUITEM SEPARATOR

		POPUP "Pantalla alternativa"
		{
			MENUITEM "Ventana Term-0", IDM_WINDOW_BIZ_0
			MENUITEM "Ventana Term-1", IDM_WINDOW_BIZ_1
			MENUITEM "Ventana Term-2", IDM_WINDOW_BIZ_2
			MENUITEM "Ventana Term-3", IDM_WINDOW_BIZ_3
			MENUITEM "Ventana Term-4", IDM_WINDOW_BIZ_4
			MENUITEM "Ventana Term-5", IDM_WINDOW_BIZ_5
			MENUITEM "Ventana Term-6", IDM_WINDOW_BIZ_6
			MENUITEM "Ventana Term-7", IDM_WINDOW_BIZ_7
		}

		POPUP "Aumentar ancho de celda"
		{
			MENUITEM "Ventana Term-0", IDM_WINDOW_I_WID_0
			MENUITEM "Ventana Term-1", IDM_WINDOW_I_WID_1
			MENUITEM "Ventana Term-2", IDM_WINDOW_I_WID_2
			MENUITEM "Ventana Term-3", IDM_WINDOW_I_WID_3
			MENUITEM "Ventana Term-4", IDM_WINDOW_I_WID_4
			MENUITEM "Ventana Term-5", IDM_WINDOW_I_WID_5
			MENUITEM "Ventana Term-6", IDM_WINDOW_I_WID_6
			MENUITEM "Ventana Term-7", IDM_WINDOW_I_WID_7
		}

		POPUP "Reducir ancho de celda"
		{
			MENUITEM "Ventana Term-0", IDM_WINDOW_D_WID_0
			MENUITEM "Ventana Term-1", IDM_WINDOW_D_WID_1
			MENUITEM "Ventana Term-2", IDM_WINDOW_D_WID_2
			MENUITEM "Ventana Term-3", IDM_WINDOW_D_WID_3
			MENUITEM "Ventana Term-4", IDM_WINDOW_D_WID_4
			MENUITEM "Ventana Term-5", IDM_WINDOW_D_WID_5
			MENUITEM "Ventana Term-6", IDM_WINDOW_D_WID_6
			MENUITEM "Ventana Term-7", IDM_WINDOW_D_WID_7
		}

		POPUP "Aumentar alto de celda"
		{
			MENUITEM "Ventana Term-0", IDM_WINDOW_I_HGT_0
			MENUITEM "Ventana Term-1", IDM_WINDOW_I_HGT_1
			MENUITEM "Ventana Term-2", IDM_WINDOW_I_HGT_2
			MENUITEM "Ventana Term-3", IDM_WINDOW_I_HGT_3
			MENUITEM "Ventana Term-4", IDM_WINDOW_I_HGT_4
			MENUITEM "Ventana Term-5", IDM_WINDOW_I_HGT_5
			MENUITEM "Ventana Term-6", IDM_WINDOW_I_HGT_6
			MENUITEM "Ventana Term-7", IDM_WINDOW_I_HGT_7
		}

		POPUP "Reducir alto de celda"
		{
			MENUITEM "Ventana Term-0", IDM_WINDOW_D_HGT_0
			MENUITEM "Ventana Term-1", IDM_WINDOW_D_HGT_1
			MENUITEM "Ventana Term-2", IDM_WINDOW_D_HGT_2
			MENUITEM "Ventana Term-3", IDM_WINDOW_D_HGT_3
			MENUITEM "Ventana Term-4", IDM_WINDOW_D_HGT_4
			MENUITEM "Ventana Term-5", IDM_WINDOW_D_HGT_5
			MENUITEM "Ventana Term-6", IDM_WINDOW_D_HGT_6
			MENUITEM "Ventana Term-7", IDM_WINDOW_D_HGT_7
		}

		MENUITEM SEPARATOR

		POPUP "Tamaño de celda fuente Term 0"
		{
			MENUITEM "Fuente",  IDM_TILE_FONT
			MENUITEM "8 x 16",  IDM_TILE_08X16
			MENUITEM "8 x 8",   IDM_TILE_08X08
			MENUITEM "16 x 16", IDM_TILE_16X16
			MENUITEM "32 x 32", IDM_TILE_32X32
			MENUITEM "16 x 32", IDM_TILE_16X32
			MENUITEM "12 x 20", IDM_TILE_12X20
			MENUITEM "16 x 25", IDM_TILE_16X25
		}
		MENUITEM SEPARATOR
		MENUITEM "Opciones de ventana",    IDM_WINDOW_OPT
		MENUITEM "Restablecer diseño",     IDM_WINDOW_RESET
	}

	POPUP "&Opciones"
	{
		POPUP "&Gráficos"
		{
			MENUITEM "&Ninguno", IDM_OPTIONS_GRAPHICS_NONE
			MENUITEM SEPARATOR
			MENUITEM "Gráficos &mejorados", IDM_OPTIONS_GRAPHICS_NICE
			MENUITEM SEPARATOR
			POPUP "&Multiplicador de celda"
			{
				MENUITEM "&1x1", IDM_OPTIONS_TILE_1x1
				MENUITEM "&2x1", IDM_OPTIONS_TILE_2x1
				MENUITEM "2x2", IDM_OPTIONS_TILE_2x2
				MENUITEM "3x1", IDM_OPTIONS_TILE_3x1
				MENUITEM "&3x3", IDM_OPTIONS_TILE_3x3
				MENUITEM "&4x2", IDM_OPTIONS_TILE_4x2
				MENUITEM "4x4", IDM_OPTIONS_TILE_4x4
				MENUITEM "&6x3", IDM_OPTIONS_TILE_6x3
				MENUITEM "6x6", IDM_OPTIONS_TILE_6x6
				MENUITEM "&8x4", IDM_OPTIONS_TILE_8x4
				MENUITEM "8x8", IDM_OPTIONS_TILE_8x8
				MENUITEM "16x8", IDM_OPTIONS_TILE_16x8
				MENUITEM "16x16", IDM_OPTIONS_TILE_16x16
			}
		}

		MENUITEM SEPARATOR
		MENUITEM "Prioridad baja", IDM_OPTIONS_LOW_PRIORITY
		MENUITEM "Activar salvapantallas", IDM_OPTIONS_SAVER
		MENUITEM "Ca&ptura de pantalla", IDM_OPTIONS_SCREENSHOT
	}

	POPUP "A&yuda"
	{
		MENUITEM "&Contenidos", IDM_HELP_GENERAL
	}
}

ANGBAND ICON "angband.ico"
